.box-servico {
  background-color: #aaa;
  height: 250px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-servico img {
  display: block;
  width: 100%;
  transition: .3s;
}
.box-servico:hover > img {
  transform: rotate(10deg) scale(1.2,1.2);
}
.box-servico figcaption a {
  display: none;
  margin-top: 20px;
}
.box-servico figcaption:hover > a {
  display: block;
}
.box-servico figcaption p {
  display: none;
  margin: 20px;
  font-size: 13px;
  line-height: 18px;
}
.box-servico figcaption:hover > p {
  display: block;
}
.box-servico figcaption {
  position: absolute;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(25deg,rgba(78,61,95,.8),rgba(149,104,150,.8));
  text-align: center;
  color: #fff;
}
